<!DOCTYPE html>
<head> <!-- TODO: Подключить стиль по-правильному-->
    <link href="../static/main.css" type="style/css" rel="stylesheet"/>
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.4.3.min.css" rel=”stylesheet” type=”text/css”>
</head>
<body>
    <form action="/accounts/profile">
        <button type = "submit">Перейти в профиль</button>
    </form>

    <form action="/budget/add_field/" method="post">
        {% csrf_token %}
        {{ add_field_form }}
        <input type="submit" value="Добавить">
    </form>
    
<!-- TODO: Надо добавить условие if active=true -->
    <div class="grid">
        {% for i in queryset %}
            <form action="/budget/update_field/" method="post">
                {% csrf_token %}
                    <input type="hidden" name="field_id" value={{ i.id }}>
                    <input type="text" name="field_name" value="{{ i.field_name }}">
                    <input type="text" name="field_value" value="{{ i.field_value }}">
                    <input type="submit" value="Обновить">
            </form>
            
            <!-- TODO refactoring -->
            <form action="/budget/delete_field/" method="post">
                {% csrf_token %}
                <input type="hidden" name="field_id" value={{ i.id }}>
                <input type="submit" value="удалить">
            </form>
        {% endfor %} 
    </div>

    {{ pie|safe }}
    {{ div|safe }}
</body>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.3.min.js"></script>
{{ script|safe }}